@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Noto+Sans+KR:wght@100..900&display=swap');

html{
  font-size: 62.5%;
  /* 10px 기준 10/16 *100 =62.5 */
}
body{
  font-family: "Noto Sans KR", sans-serif;
  /* font-family: 'GMarketSans'; */
  color: var(--black-color1);
  font-size: 1.6rem;
}

:root{
  --main-color:#A8B8A1;
  --sub1-color:#5F7A63;
  --sub2-color:#364038;
  --pink-color:#E58F8A;
  --black-color1:#222222;
  --black-color2:#333333;
} 

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sectionTitle */
.sectionTitle{
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--sub2-color);
  margin: 12rem 0 6rem 0;
  text-align: center;
}

/* 가운데 */
.center{
  max-width: 1340px;
  margin: auto;
  padding: 0 5rem;
}

/* 버튼 */
button{
  border: none;
  background: none;
  cursor: pointer;
}

/* more */
.more{
  float: right;
  cursor: pointer;
  font-size: 1.4rem;
}

.more::after{
  content: "";
  display: inline-block;
  width: 26px;
  height:26px;
  background: url("../img/main/arrow-right_s.png") no-repeat center/cover;
  vertical-align: middle;
  margin-bottom:0.3rem;
}

/* 모바일 */
.mobile{
  display: none;
}

input{
  border: none;
}
input::placeholder{
  font-size: 12px;
}
input:focus{
  outline: none; /*클릭시 테두리 없애준다.*/
}
/* 설정 END */


/* header */
header{
  background: var(--main-color);
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  transition: 0.3s ease-in;
}
header.active{
  transform: translateY(-70px);
}

.header_inner{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* header left */
.header_inner_left{
  display: flex;
  align-items: center;
  gap: 60px;
}
/* 로고 */
.header_inner h1 a{
  display: block;
  width: 180px;
  height: 30px;
  background: url('../img/main/header_logo.png')no-repeat center/contain;
}
/* header nav */
.header_menu > ul{
  display: flex;
  gap: 15px;
}
.header_menu li{
  color: #fff;
  height: 70px;
  position: relative;
}
.header_menu a{
  display: block;
  padding: 2.5rem 2rem;
  transition: .5s;
}

.header_menu a::after{
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: var(--sub1-color);
  margin-top: 0.5rem;
  opacity: 0;
  transition: .5s;
}
.header_menu a:hover{
  color: var(--sub1-color);
}

.header_menu a:hover::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--sub1-color);
  margin-top: 0.5rem;
  opacity: 1;
}
/* .header_menu subMenu */
.header_menu .subMenu{
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  background: rgba(168, 184, 161,0.9);
  display: none;
}

.header_menu .subMenu.open{
  display: block;
}


/* header의 오른쪽 부분 */
.h_info{
  display: flex;
  gap: 10px;
  align-items: center;
}

/* 검색창 */
.header_search,
.footer_search
{
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 50px;
  width: 220px;
  height: 35px;
  padding: 0 0.8rem;
}
.header_search figure,
.footer_search figure
{
  width: 18px;
}
.header_search input,
.footer_search input
{
  width: 100%;
  flex: 1;
  min-width: 0;
}

.login ul{
  display: flex;
}
.login li{
  color: #fff;
}
.login li + li::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 0.8rem;
}
.login a{
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
}
/* header End */


/* slider슬라이더 */
.main_slider{
  margin-top: 7rem;
  height: 450px;
  position: relative;
  overflow: hidden; /*넘치는 부분안보이게*/
}
.slider_box{
  height: 100%;
  display: flex; /*옆으로 나열*/
  transition: 0.7s ease-in;
}
.slider_box li{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  /*min-width: 100%; 100% 보다 작아지지 말아*/
  background: url("../img/main/slider/slider_01.jpg") no-repeat center/cover;
  position: relative;
}
.slider_box li:nth-child(1){
  background-image: url("../img/main/slider/slider_01.jpg");
  color: #4F4909;
}
.slider_box li:nth-child(2){
  background-image: url("../img/main/slider/slider_02.jpg");
  color: #5a4d3a;
  text-shadow: 0 0 2px #f3dcb9;
  
}
.slider_box li:nth-child(3){
  background-image: url("../img/main/slider/slider_03.jpg");
  color: #fff;
}
.slider_box li:nth-child(4){
  background-image: url("../img/main/slider/slider_04.jpg");
  color: #130E08;
}

/* slider 텍스트 */
.slider_txt{
  text-align: left;
  position: absolute;
  left: 10vw;
  top: 27%;
}

.s_txt_right{
  text-align: right;
  position: absolute;
  right: 10vw;
  top: 27%;
}
.slider_box strong{
  font-size: 4.8rem;
  font-weight: bold;
}
.slider_box p{
  margin-top: 2.5rem;
}

/* 슬라이더 버튼 */
.main_slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.main_slider .prev{
  left: 0;
}
.main_slider .next{
  right: 0;
}
/* slider END */


/* main */
.pageMain main{
  margin-top: 12rem;
}

/* 카테고리 */
.pageMain .category ul{
  display: flex;
  justify-content: center;
  gap: 110px;
}
.pageMain .category a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.pageMain .category figure{
  width: 120px;
  background: rgba(95, 122, 99,.2);
  border-radius: 15px;
  box-shadow: 2px 2px  1px rgba(95, 122, 99,0.5);
}
.pageMain .category p{
  font-weight: 400;
}


/* best */
.pageMain .bestTabMenu{
  display: flex;
  gap: 25px;
  margin-bottom: 2.5rem;
}
.pageMain .bestTabMenu a{
  padding: 0.5rem 0;
}

/* active */
.pageMain .bestTabMenu .active{
  color: var(--sub1-color);
  font-weight: 600;
}
.pageMain .bestTabMenu .active::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--sub1-color);
  margin-top: 0.5rem;
}

/* 이미지 + 상품 */
.pageMain .bestProduct{
  margin-bottom: 1rem;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.pageMain .bestProduct a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestProduct .info{
  text-align: center;
  margin-top: 2rem;
}
.pageMain .bestProduct p{
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
}

/* editor */
.pageMain .editor{
  margin-bottom: 12rem;
}
.pageMain .editor article{
  padding: 0 8.5rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pageMain .editor article + article{
  margin-top: 1rem;
}

.pageMain .editor article figure{
  flex: 1;
}
.pageMain .editor article figure img{
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}
.pageMain .editor article figure:nth-child(2) img{
  box-shadow: -2px 2px 4px rgb(0, 0, 0, 0.25);
}

.pageMain .editor_txt{
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-line;
}
.pageMain .editor_txt strong{
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
}
.pageMain .editor_txt p{
  margin: 4rem 0;
  font-size: 1.4rem;
  line-height: 1.2;
}

.pageMain .editor_more{
  display: block;
  background: var(--main-color);
  padding: 1rem 2.5rem;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
}

/* footer */
footer{
  background: var(--main-color);
  position: relative;
}
footer::after{
  width: 100%;
  height: 1px;
  content: "";
  display: block;
  background: #EBEBEB;
  position: absolute;
  top:70px
}
.footer_inner{
  display: flex;
  flex-direction: column;
}
/* top */
.footer_inner_top{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_menu ul{
  display: flex;

}
.footer_menu li{
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
}
.footer_menu li + li::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1.5rem;
}
.footer_menu a{
  padding: 0.5rem;
}

/* bottom */
.footer_inner_bottom{
  height: 230px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.f_left{
  display: flex;
  gap: 100px;
  align-items: center;
}
.footer_logo{
  height: 16px;
}

address p{
  font-size: 1.1rem;
  line-height: 3;
}
address p span{
  font-size: 1.2rem;
  font-weight: 500;
}
/* left END */

.sns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.sns ul{
  width: 171px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
  margin-bottom: 2rem;
}
.sns li{
  width: 24px;
}
.sns a{
  opacity: .6;
  transition: .5s;
}
.sns a img{
  object-fit: contain;
}
.sns a:hover{
  opacity: 1;
}

.sns p{
  font-size: 1rem;
  font-weight: 300;
}

/* *****반응형 적용***** */

/* 1270보다 작을 때 */
@media (max-width:1270px){ 
  .pc{
    display: none;
  }
  .mobile{
    display: block;
  }
  .mobileMenueBg{
    position: fixed;
    background: linear-gradient(135deg,var(--sub1-color),var(--sub2-color));
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    z-index: 9999999;
    transition: 0.5s ease-in;
  }

  .colse_btn{
    width: 24px;
    height: 24px;
    background: url('../img/main/close_btn.png') no-repeat center/contain;
    position: absolute;
    top: 3%;
    right: 10%;
  }

  .mobileMenue > ul{
    margin: 10rem 0 0 6rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .mobileMenue li{
    color: #fff;
  }
  .mobileMenue a{
    font-size: 2.4rem;
    display: inline-block;
    padding: 20px 5px;
  }

  .mobileMenue a::after{
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: var(--main-color);
    margin-top: 0.5rem;
    opacity: 0;
    transition: .5s;
  }
  .mobileMenue a:hover{
    color: var(--main-color);
  }
  .mobileMenue a:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--main-color);
    margin-top: 0.5rem;
    opacity: 1;
  }

  .mobileMenue .subMenu{
    padding-left: 2rem;
    font-size: 16px;
    display: none;
  }
  .mobileMenue .subMenu.on{
    display: block;
  }


  .mobileLogin{
    margin: 4rem 0 0 6rem;
  }
  .mobileLogin ul{
    display: flex;
  }
  .mobileLogin li{
    color: #fff;
  }
  .mobileLogin li + li::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #fff;
  margin: 0 1rem;
}
  .mobileLogin a{
    font-size: 1.8rem;
    padding: 2px;
  }

  /* header */
  /* 햄버거 버튼 */
  .ham_menu{
    width: 30px;
    height: 30px;
    /* float: right; */
    position: relative;
    background: url('../img/main/hamBtn_w.png')no-repeat center/contain;
  }
  
  .h_info{
    gap: 55px;
  }
  .login{
    display: none;
  }
  

  /* Editor’s Pick */
  .pageMain .editor article{
    padding: 0 6rem;
    gap: 15px;
  }

  .pageMain .editor article + article{
    margin-top: 0.8rem;
  }

  .pageMain .editor_txt strong{
    font-size: 2rem; /*확인 필요*/
  }
  .pageMain .editor_txt p{
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .pageMain .editor_more{
    display: block;
    background: var(--main-color);
    padding: 1rem 2.2rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1.4rem;
  }
  
}

/* 1070보다 작은 경우 */
@media (max-width:1070px){
  .center{
    padding: 0 2rem;
  }
  /* 글자 크기가 바뀜 */
  .sectionTitle{
    font-size: 3.2rem;
  }

  .header_inner h1 a{
    display: block;
    width: 160px;
    height: 28px;
  }

  /* slider */
  .slider_box strong{
    font-size: 3.6rem;
  }
  .slider_box p{
    margin-top: 1.6rem;
  }
  .main_slider button{
    width: 80px;
  }

  /* 키테고리 */
  .pageMain .category ul{
    gap: 60px;
  }
  .pageMain .category figure{
    width: 100px;
  }
  .pageMain .category p{
    font-size: 1.5rem;
  }
  
  /* best */
  .pageMain .bestProduct{
    grid-template-columns: repeat(2, 1fr);
  }

  .pageMain .bestProduct figure{
    width: 100%;
    height: 300px;
  }

  .pageMain .bestTabMenu{
    gap: 20px;
    margin-bottom: 2rem;
  }
  
  .best{
    position: relative;
  }

  .more{
    position: absolute;
    top: 86px;
    right: 20px;
    white-space: normal;
  }


  /* Editor’s Pick */
  .pageMain .editor article{
    padding: 0;
    gap: 10px;
  }

  .pageMain .editor_more{
    padding: 1rem 2rem;
  }

  /* footer */
  .footer_menu li + li::before{
    margin: 0 1rem;
  }
}


/* 826보다 작을 때 */
@media (max-width:826px){
  .colse_btn{
    width: 20px;
    height: 20px;
  }

  .mobileMenue > ul{
    margin: 10rem 0 0 6rem;
    gap: 20px;
  }
  .mobileMenue a{
    font-size: 2.4rem;
  }

  .mobileLogin{
    margin: 5rem 0 0 6rem;
  }
  .mobileLogin li + li::before{
    height: 14px;
  }
  .mobileLogin a{
    font-size: 1.8rem;
    padding: 5px;
  }

  /* 추춴 */
  .pageMain .editor article{
    flex-direction: column;
    gap: 1.5rem;
    padding:1.5rem 0;
    align-items: start;
  }
  .pageMain .editor article figure{
    flex: none;
    height: 350px;
    width: 100%;
  }
  .pageMain .editor article:nth-of-type(2) figure{
    order: -1; /* 위치 바꾸기 */
  }
  .pageMain .editor article figure:nth-child(2) img{
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
  }
  .pageMain .editor_txt{
    padding: 0 1.2rem;
    align-items: start;
    text-align: start;
  }

  .pageMain .editor_txt strong{
    white-space: normal;
  }
  .pageMain .editor_txt p{
    white-space: pre-line;
    margin: 1.5rem 0;
  }
  .pageMain .editor_more{
    display: none;
  }

   /* footer */
  .footer_search{
    display: none;
  }

  /* bottom */
  .footer_inner_bottom{
    height: 234px;
    margin-top: 25px;
  }
  .f_left{
    gap: 25px;
    align-items: start;
    flex-direction: column;
  }
  .footer_logo{
    height: 14px;
  }

  address p{
    line-height: 2.3;
  }
}



/* 768보다 작은 경우 */
@media (max-width:769px){
  .mobileMenue > ul{
    margin: 6rem 0 0 3rem;
    width: 120px;
  }
  .mobileMenue a{
    font-size: 2rem;
  }

  .mobileLogin{
    margin: 5rem 0 0 3rem;
    width: 120px;
  }
  .mobileLogin li + li::before{
    height: 12px;
    margin: 0 0.3rem;
  }
  .mobileLogin a{
    font-size: 1.4rem;
    padding: 5px;
  }

  /* header */
  .header_inner h1 a{
    width: 150px;
    height: 26px;
  }
  .header_search{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    padding: 0;
    background: url('../img/main/icon-search_w.png') no-repeat center/contain;
  }
  .header_search figure{
    display: none;
  }
  .header_search input{
    display: none;
  }

  .h_info{
    gap: 15px;
  }

  /* 슬라이더 */
  .slider_box strong{
    font-size: 2.8rem;
  }
  .slider_box p{
    margin-top: 1.4rem;
  }

  .main_slider button{
    width: 60px;
  }

  .pageMain main {
    margin-top: 6rem;
  }
  /* 키테고리 */
  .pageMain .category ul{
    gap: 50px;
  }
  .pageMain .category figure{
    width: 90px;
  }
  .pageMain .category p{
    font-size: 1.4rem;
  }

  /* 타이틀 */
  .sectionTitle{
    font-size: 2.4rem;
    margin: 8rem 0 2rem 0;
  }

  .more{
    top: 42px;
  }

  /* editor */
  .pageMain .editor {
    margin-bottom: 8rem;
  }

  .pageMain .editor_txt strong{
    font-size: 1.8rem;
  }
  .pageMain .editor_txt p{
    font-size: 1.3rem;
  }
}

/* 610보다 작은 경우 */
@media (max-width:610px){
  .pageMain .category ul{
    gap: 35px;
  }
  .pageMain .category figure{
    width: 70px;
  }
  .pageMain .category p{
    font-size: 1.4rem;
  }

  /* best */
  .pageMain .bestTabMenu {
    gap: 18px;
  }
  .pageMain .bestTabMenu a{
    font-size: 1.4rem;
  }
  .pageMain .bestProduct {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .pageMain .bestProduct figure{
    height: 160px;
  }
  .bestProduct .info{
    margin-top: 1.5rem;
  }
  .pageMain .bestProduct h4{
    font-size: 1.4rem;
  }
  .pageMain .bestProduct p{
    font-size: 1.2rem;
  }

  /* 추천 */
  .pageMain .editor article figure{
    flex: 1;
    height: 200px;
  }
  .pageMain .editor_txt p{
    display: none;
  }

  /* footer */
  .footer_inner_bottom{
    height: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1rem;
  }
  .footer_menu li:nth-child(2){
    display: none;
  }
  .footer_menu li:nth-child(3){
    display: none;
  }
  
}

/* 401보다 작은 경우 */
@media (max-width:401px){
  .center{
    padding: 0 1.6rem;
  }
  /* header */
  .header_inner h1 a{
    width: 90px;
    height: 16px;
  }

  .header_search{
    width: 20px;
    height: 20px;
  }

  .ham_menu{
    width: 20px;
    height: 20px;
  }

  /* 슬라이더 */
  .main_slider {
    margin-top: 7rem;
  }
  .slider_box strong {
    font-size: 2.4rem;
  }
  .slider_box p {
    font-size: 1.3rem;
  }

  /* 카테고리 */
    .pageMain .category ul{
    gap: 25px;
    }
    .pageMain .category figure{
      width: 60px;
    }
    .pageMain .category p{
      font-size: 1.3rem;
    }

    .more {
      font-size: 12px;
    }
}